<div class="row shop">
  <section class="col-md-3 shop__sorting">
    <h5 class="text-warning ml-3">Sort</h5>

    <select name="sort" id="sort" class="custom-select mb-3"
            (change)="onSortSelected($event.target.value)">
      <option *ngFor="let sort of sortOptions" [selected]="sort.value == sortSelected"
              [value]="sort.value" selected> {{ sort.name }} </option>
    </select>

    <h5 class="text-warning ml-3">Brands</h5>
    <ul class="list-group my-3 shop-list">
      <li class="list-group-item shop-list__item" 
          *ngFor="let brand of brands"
          [class.active]="brand.id === brandIdSelected"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)">
        {{ brand.name }}
      </li>
    </ul>
    <h5 class="text-warning ml-3">Types</h5>
    <ul class="list-group my-3 shop-list">
      <li class="list-group-item shop-list__item" 
          *ngFor="let type of types"
          [class.active]="type.id === typeIdSelected"
          [value]="type.id"
          (click)="onTypeSelected(type.id)">
        {{ type.name }}
      </li>
    </ul>
  </section>
  <section class="col-md-9 shop__showcase">
    <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <strong>Showing</strong><span class="badge badge-success mx-1">10</span>
          <strong>of</strong><span class="badge badge-warning mx-1">18</span><strong>Results</strong>
        </header>
        <div class="form-inline mt-2">
          <input type="text" class="form-control mr-2" style="width: 300px;" placeholder="Search">
          <button class="btn btn-outline-primary my-2">Search</button>
          <button class="btn btn-outline-secondary my-2 ml-2">Reset</button>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </section>
</div>
